[Desktop Entry]
Type=Application
Name=Hexa5Camera
Comment=Joystick & Camera Control
Exec=JoystickIdentifier
Icon=joystickidentifier
Terminal=false
Categories=Utility;AudioVideo;Qt;

